@model WebApplication1.Models.Ve
@{
    ViewBag.Title = "XacNhanVe";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div style="height:90px"></div>
<div class="background-infuser">
    <video autoplay loop muted>
        <source src="~/Content/video/background-inf.mp4" type="video/mp4">
    </video>
    <div class="background-form-inf">
        <div class="form-inf-parent" >
            <div class="form-inf">
                <div class="row" style="align-content:center">
                    <div class="col">
                        <div class="show-inf">
                            <h3 style="text-align:center;"><b>Thông tin đặt vé</b> </h3>
                            <div class="show-inf-child">
                                <div class="mb-2 row">
                                    <label for="inputCCCD" class="col-sm-2 col-form-label">Mã vé:</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="inputCCCD" value="@Model.MaVe" disabled="disabled">
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Ngày đặt:</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="inputName" value="@Model.NgayDat.Value.Date" disabled="disabled">
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">Số ghế của khách trên xe:</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="inputNumber" value="@Model.SoGhe" disabled="disabled">
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Biển số xe đi:</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" id="inputName" value="@Html.Action("GetSoXe","ChuyenXe", new {idxe = Model.Xe})" disabled="disabled">
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label for="inputNumber" class="col-sm-2 col-form-label">SĐT:</label>
                                    <div class="col-sm-5">
                                        <p>Giá vé: @ViewBag.GiaVe</p>
                                    </div>
                                </div>
                                <button onclick="location.href='@Url.Action("Confirm","ChuyenXe", Model)'" style="border-radius: 10px; background-color: rgb(36, 116, 229); color: white ; width:200px ;height:60px; border:none;">XÁC NHẬN VÉ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
